In [251]:
### install, import, download


!pip install mlxtend

import pandas as pd                                             #for dataframe operations
import numpy as np                                              #for array operations

import seaborn as sns

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
#mlxtend : machine learning extensions

import random
import matplotlib.pyplot as plt                                 ## it shows immediatly after matplot lib if not we have to do plt.show()
%matplotlib inline 


import networkx as nx

from sklearn.neighbors import KNeighborsClassifier              # kNN classifier
from sklearn.neighbors import KNeighborsRegressor               # kNN regressor
from sklearn.model_selection import GridSearchCV                # Grid search with CV
from sklearn.metrics import confusion_matrix,mean_squared_error,adjusted_rand_score,accuracy_score # Error Metrics
from sklearn.preprocessing import MinMaxScaler,StandardScaler   # To Scale the data
from sklearn.model_selection import train_test_split, GridSearchCV          # To split the data

from sklearn.cluster import KMeans,AgglomerativeClustering 

from scipy.cluster.hierarchy import linkage, dendrogram

#from imblea import CondensedNearestNeighbour                    # Implementation based on Hart's condensed knn

#### Install surprise package

#!pip install scikit-surprise
#!pip install surprise
#! conda install -c conda-forge scikit-surprise
#from surprise import BaselineOnly

#from surprise import BaselineOnly
#from surprise import Dataset
#from surprise import Reader, KNNWithMeans
#from surprise.model_selection import cross_validate
#from collections import defaultdict
#from itertools import islice

from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier

!pip install xgboost

from sklearn.svm import SVC

import statsmodels.formula.api as sm                           #logistic regression
from scipy.stats import mode

!pip install graphviz
import graphviz
import seaborn
from sklearn.tree import DecisionTreeClassifier, export_graphviz,DecisionTreeRegressor
from sklearn import tree

!pip install pydotplus
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus


import pandas_profiling as pp

import cufflinks as cf
import plotly.offline
cf.go_offline()
cf.set_config_file(offline=False,world_readable=True)

Requirement already satisfied: mlxtend in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (0.16.0)
Requirement already satisfied: numpy>=1.10.4 in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from mlxtend) (1.14.3)
Requirement already satisfied: pandas>=0.17.1 in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from mlxtend) (0.23.0)
Requirement already satisfied: scikit-learn>=0.18 in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from mlxtend) (0.20.0)
Requirement already satisfied: matplotlib>=1.5.1 in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: setuptools in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from mlxtend) (39.1.0)
Requirement already satisfied: scipy>=0.17 in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: pytz>=2011k in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from pandas>=0.17.1->mlxtend) (2018.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from pandas>=0.17.1->mlxtend) (2.7.3)
Requirement already satisfied: cycler>=0.10 in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from matplotlib>=1.5.1->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.10 in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from matplotlib>=1.5.1->mlxtend) (1.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from matplotlib>=1.5.1->mlxtend) (1.0.1)
Collecting xgboost
  Using cached https://files.pythonhosted.org/packages/96/84/4e2cae6247f397f83d8adc5c2a2a0c5d7d790a14a4c7400ff6574586f589/xgboost-0.90.tar.gz

ERROR: Files/directories not found in C:\Users\DRJHAN~1.SSV\AppData\Local\Temp\pip-install-xh3gxuwn\xgboost\pip-egg-info

Requirement already satisfied: graphviz in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (0.11)
Requirement already satisfied: pydotplus in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\dr. jhansi rani.ssv_balaram_moh\anaconda3\lib\site-packages (from pydotplus) (2.2.0)

# read train data

In [550]:
train1 = pd.read_csv("train.csv")

In [551]:
train2 = pd.read_csv("train_merchant_data.csv")

In [552]:
train3 = pd.read_csv("train_order_data.csv")

In [553]:
ip_boundaries = pd.read_csv("ip_boundaries_countries.csv")

In [554]:
train4=train1.join(train2.set_index("Merchant_ID"),on="Merchant_ID")

In [555]:
train4.shape

(54213, 8)

In [556]:
train4.head()

,Merchant_ID,Fraudster,Ecommerce_Provider_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address
0,221592,0,1746213,2018-07-01 06:43:23,QDZKUGCGLVPZG,F,42,157.217.17.33
1,316935,1,1746213,2018-01-18 01:10:42,GCCLHNBNIJJGW,M,42,46.8.62.247
2,38454,1,1746213,2018-07-16 07:56:34,DAXDXWHPMSUJG,M,19,222.110.0.90
3,214437,1,1746213,2018-04-28 17:08:09,XPBKQAAEUPZAO,F,35,104.242.92.50
4,296240,1,1746213,2018-01-09 00:26:19,VGGTRBYDZMCPN,F,27,175.104.225.24

In [557]:
train5 = train4.join(train3.set_index("Merchant_ID"),on="Merchant_ID")

In [558]:
train5.shape

(54213, 14)

In [559]:
trainxy=train5

In [560]:
trainxy.head()

,Merchant_ID,Fraudster,Ecommerce_Provider_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Customer_ID,Order_ID,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method
0,221592,0,1746213,2018-07-01 06:43:23,QDZKUGCGLVPZG,F,42,157.217.17.33,149173,6641fb40fd59,2018-10-29 17:58:25,205,Direct,Credit Card
1,316935,1,1746213,2018-01-18 01:10:42,GCCLHNBNIJJGW,M,42,46.8.62.247,117942,09ce4ab420a6,2018-03-24 20:15:57,88,Ads,Cash On Delivery
2,38454,1,1746213,2018-07-16 07:56:34,DAXDXWHPMSUJG,M,19,222.110.0.90,125604,41274e2a70c0,2018-09-19 15:13:54,100,Direct,Credit Card
3,214437,1,1746213,2018-04-28 17:08:09,XPBKQAAEUPZAO,F,35,104.242.92.50,155981,e8538b380577,2018-05-27 23:24:42,60,Direct,Debit Card
4,296240,1,1746213,2018-01-09 00:26:19,VGGTRBYDZMCPN,F,27,175.104.225.24,142401,72905bb38554,2018-01-11 00:26:20,88,Ads,E-wallet

# read test data

In [561]:
test1=pd.read_csv("test.csv")

In [562]:
test2=pd.read_csv("test_merchant_data.csv")

In [563]:
test3=pd.read_csv("test_order_data.csv")

In [564]:
test4=test1.join(test2.set_index("Merchant_ID"),on="Merchant_ID")

In [565]:
test5 = test4.join(test3.set_index("Merchant_ID"),on="Merchant_ID")

In [566]:
testx= test5

In [523]:
testx["IP_Address"] = testx["IP_Address"].apply(ip2long)

# exploration data analysis

In [567]:
trainxy.head()

,Merchant_ID,Fraudster,Ecommerce_Provider_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Customer_ID,Order_ID,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method
0,221592,0,1746213,2018-07-01 06:43:23,QDZKUGCGLVPZG,F,42,157.217.17.33,149173,6641fb40fd59,2018-10-29 17:58:25,205,Direct,Credit Card
1,316935,1,1746213,2018-01-18 01:10:42,GCCLHNBNIJJGW,M,42,46.8.62.247,117942,09ce4ab420a6,2018-03-24 20:15:57,88,Ads,Cash On Delivery
2,38454,1,1746213,2018-07-16 07:56:34,DAXDXWHPMSUJG,M,19,222.110.0.90,125604,41274e2a70c0,2018-09-19 15:13:54,100,Direct,Credit Card
3,214437,1,1746213,2018-04-28 17:08:09,XPBKQAAEUPZAO,F,35,104.242.92.50,155981,e8538b380577,2018-05-27 23:24:42,60,Direct,Debit Card
4,296240,1,1746213,2018-01-09 00:26:19,VGGTRBYDZMCPN,F,27,175.104.225.24,142401,72905bb38554,2018-01-11 00:26:20,88,Ads,E-wallet

In [568]:
testx.head()

,Merchant_ID,Ecommerce_Provider_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Customer_ID,Order_ID,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method
0,53637,1746213,2018-02-11 20:50:29,PTMLBENYMQCTV,F,40,134.162.124.62,157068,a032de091f51,2018-03-09 09:09:42,60,SEO,Credit Card
1,243517,1746213,2018-04-06 13:19:39,HMCLDZUZPWZRR,M,39,152.76.98.87,112534,0d563f0606d6,2018-06-13 20:11:19,28,SEO,Credit Card
2,343640,1746213,2018-01-12 16:47:49,VLGSMAPXISSEJ,M,23,31.202.3.255,148774,18fb0fa888b6,2018-04-14 04:19:36,75,Ads,Debit Card
3,69889,1746213,2018-02-19 21:58:52,ZINHISBBOKQXT,M,34,12.242.168.185,114528,ed1eb920d721,2018-04-01 13:55:44,98,SEO,Credit Card
4,125706,1746213,2018-05-17 15:50:19,WFKEAOTPHTYEO,M,20,26.61.210.47,120940,313dcf962627,2018-05-25 02:08:18,35,SEO,Credit Card

In [569]:
trainxy.describe(include="all")

,Merchant_ID,Fraudster,Ecommerce_Provider_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Customer_ID,Order_ID,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method
count,54213.000000,54213.00000,54213.0,54213,54213,54213,54213.000000,54213,54213.000000,54213,54213,54213.000000,54213,54213
unique,NaN,NaN,NaN,54213,51291,2,NaN,52028,NaN,54213,54161,NaN,3,5
top,NaN,NaN,NaN,2018-03-29 23:50:33,RDLIARTBSYNJX,M,NaN,32.67.159.62,NaN,4e82ccebc261,2018-06-03 19:29:30,NaN,SEO,Credit Card
freq,NaN,NaN,NaN,1,9,31761,NaN,9,NaN,1,2,NaN,21884,21844
mean,200395.176212,0.09269,1746213.0,NaN,NaN,NaN,33.122240,NaN,137966.285208,NaN,NaN,92.230240,NaN,NaN
std,115398.486895,0.29000,0.0,NaN,NaN,NaN,8.630091,NaN,15563.516156,NaN,NaN,45.673263,NaN,NaN
min,2.000000,0.00000,1746213.0,NaN,NaN,NaN,18.000000,NaN,111234.000000,NaN,NaN,22.000000,NaN,NaN
25%,100997.000000,0.00000,1746213.0,NaN,NaN,NaN,27.000000,NaN,124471.000000,NaN,NaN,55.000000,NaN,NaN
50%,200574.000000,0.00000,1746213.0,NaN,NaN,NaN,32.000000,NaN,137864.000000,NaN,NaN,88.000000,NaN,NaN
75%,300407.000000,0.00000,1746213.0,NaN,NaN,NaN,39.000000,NaN,151405.000000,NaN,NaN,122.000000,NaN,NaN
max,399993.000000,1.00000,1746213.0,NaN,NaN,NaN,72.000000,NaN,165000.000000,NaN,NaN,385.000000,NaN,NaN

In [570]:
testx.describe(include="all")

,Merchant_ID,Ecommerce_Provider_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Customer_ID,Order_ID,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method
count,13554.000000,13554.0,13554,13554,13554,13554.000000,13554,13554.000000,13554,13554,13554.000000,13554,13554
unique,NaN,NaN,13554,13213,2,NaN,13251,NaN,13554,13548,NaN,3,5
top,NaN,NaN,2018-06-07 18:39:13,XVCSFPAHTBYQC,M,NaN,34.85.253.200,NaN,42144d97a97b,2018-04-17 09:00:37,NaN,SEO,Credit Card
freq,NaN,NaN,1,5,7937,NaN,5,NaN,1,2,NaN,5475,5516
mean,200437.188948,1746213.0,NaN,NaN,NaN,33.159363,NaN,138088.510477,NaN,NaN,92.493507,NaN,NaN
std,115066.140634,0.0,NaN,NaN,NaN,8.598567,NaN,15565.387077,NaN,NaN,45.944895,NaN,NaN
min,18.000000,1746213.0,NaN,NaN,NaN,18.000000,NaN,111252.000000,NaN,NaN,22.000000,NaN,NaN
25%,101685.250000,1746213.0,NaN,NaN,NaN,27.000000,NaN,124415.250000,NaN,NaN,58.000000,NaN,NaN
50%,199678.500000,1746213.0,NaN,NaN,NaN,33.000000,NaN,138301.500000,NaN,NaN,88.000000,NaN,NaN
75%,300114.000000,1746213.0,NaN,NaN,NaN,39.000000,NaN,151369.000000,NaN,NaN,122.000000,NaN,NaN
max,399995.000000,1746213.0,NaN,NaN,NaN,76.000000,NaN,165000.000000,NaN,NaN,320.000000,NaN,NaN

In [675]:
#checking levels and their count
trainxy["Order_Payment_Method"].value_counts()

Credit Card         21844
Internet Banking    13193
Debit Card           9070
E-wallet             8739
Cash On Delivery     1367
Name: Order_Payment_Method, dtype: int64

In [572]:
#checking column names
trainxy.columns

Index(['Merchant_ID', 'Fraudster', 'Ecommerce_Provider_ID',
       'Merchant_Registration_Date', 'Registered_Device_ID', 'Gender', 'Age',
       'IP_Address', 'Customer_ID', 'Order_ID', 'Date_of_Order',
       'Order_Value_USD', 'Order_Source', 'Order_Payment_Method'],
      dtype='object')

In [573]:
cols =[ 'Merchant_ID', 'Ecommerce_Provider_ID',
       'Merchant_Registration_Date', 'Registered_Device_ID', 'Gender', 'Age',
       'IP_Address', 'Customer_ID', 'Order_ID', 'Date_of_Order',
       'Order_Value_USD', 'Order_Source', 'Order_Payment_Method']

In [574]:
#seperating y variable from x variables
trainx = trainxy[cols]
y= trainxy["Fraudster"]

# data preprocessing

In [575]:
#checking null values
trainx.isna().sum()

Merchant_ID                   0
Ecommerce_Provider_ID         0
Merchant_Registration_Date    0
Registered_Device_ID          0
Gender                        0
Age                           0
IP_Address                    0
Customer_ID                   0
Order_ID                      0
Date_of_Order                 0
Order_Value_USD               0
Order_Source                  0
Order_Payment_Method          0
dtype: int64

In [576]:
#checking null values
testx.isna().sum()

Merchant_ID                   0
Ecommerce_Provider_ID         0
Merchant_Registration_Date    0
Registered_Device_ID          0
Gender                        0
Age                           0
IP_Address                    0
Customer_ID                   0
Order_ID                      0
Date_of_Order                 0
Order_Value_USD               0
Order_Source                  0
Order_Payment_Method          0
dtype: int64

## from the above data i want to remove the "merchant id",ecommerce id,registration device id, ip address,customer_id

dropping all the columns which or nominal in nature and doesnt help in predicting y

In [577]:
trainx.drop("Merchant_ID",axis=1,inplace=True)
testx.drop("Merchant_ID",axis=1,inplace=True)

In [578]:
trainx.drop("Customer_ID",axis=1,inplace=True)
testx.drop("Customer_ID",axis=1,inplace=True)

In [579]:
trainx.drop("Order_ID",axis=1,inplace=True)
testx.drop("Order_ID",axis=1,inplace=True)

In [580]:
trainx.drop("Ecommerce_Provider_ID",axis=1,inplace=True)
testx.drop("Ecommerce_Provider_ID",axis=1,inplace=True)

In [581]:
trainx.drop("Registered_Device_ID",axis=1,inplace=True)
testx.drop("Registered_Device_ID",axis=1,inplace=True)

In [582]:
trainx.dtypes

Merchant_Registration_Date    object
Gender                        object
Age                            int64
IP_Address                    object
Date_of_Order                 object
Order_Value_USD                int64
Order_Source                  object
Order_Payment_Method          object
dtype: object

In [583]:
testx.dtypes

Merchant_Registration_Date    object
Gender                        object
Age                            int64
IP_Address                    object
Date_of_Order                 object
Order_Value_USD                int64
Order_Source                  object
Order_Payment_Method          object
dtype: object

In [584]:
#seperating categorical columns as a dataframe
cat_col_train = trainx.select_dtypes(include='object')

In [676]:
##seperating categorical columns as a dataframe
cat_col_test = testx.select_dtypes(include='object')

In [221]:
cat_col_train.columns

Index(['Merchant_Registration_Date', 'Gender', 'Date_of_Order', 'Order_Source',
       'Order_Payment_Method'],
      dtype='object')

In [222]:
cat_col_test.columns

Index(['Merchant_Registration_Date', 'Gender', 'Date_of_Order', 'Order_Source',
       'Order_Payment_Method'],
      dtype='object')

In [225]:
cat_col_train=cat_col_train.drop(["Merchant_Registration_Date","Date_of_Order"],axis=1)

In [226]:
cat_col_test=cat_col_test.drop(["Merchant_Registration_Date","Date_of_Order"],axis=1)

In [227]:
#dummification
cat_col_train = pd.get_dummies(cat_col_train, columns=["Gender","Order_Source","Order_Payment_Method"])

In [228]:
cat_col_test = pd.get_dummies(cat_col_test, columns=["Gender","Order_Source","Order_Payment_Method"])

# base model-1

In [230]:
#split the data into train and test to check the model
X_train, X_test, y_train, y_test = train_test_split(cat_col_train, y, test_size=0.30)

logistic model

In [231]:
from sklearn.linear_model import LogisticRegression
logmod=LogisticRegression()
logmod

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [232]:
#fitting the model on seen data 
logmod= logmod.fit(X_train,y_train)

C:\Users\Dr. Jhansi Rani.SSV_BALARAM_MOH\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning:

Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.

In [233]:
#predicting the model on unseen data
test_pred1 = logmod.predict(X_test)

In [677]:
#validation metrics
confusion_matrix(y_pred=test_pred1,y_true=y_test)

ValueError: Found input variables with inconsistent numbers of samples: [10843, 16264]

In [235]:
#validation metrics
accuracy_score(y_test,test_pred1)

0.9059886866699459

In [237]:
actualtest_pred1 = logmod.predict(cat_col_test)

In [243]:
test1["Fraudster"]=actualtest_pred1

In [246]:
test1.to_csv("trainx.csv",header=True)

submitted 1 model

In [678]:
trainx.shape

(54213, 20)

### model 2

In [585]:
trainx.head()

,Merchant_Registration_Date,Gender,Age,IP_Address,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method
0,2018-07-01 06:43:23,F,42,157.217.17.33,2018-10-29 17:58:25,205,Direct,Credit Card
1,2018-01-18 01:10:42,M,42,46.8.62.247,2018-03-24 20:15:57,88,Ads,Cash On Delivery
2,2018-07-16 07:56:34,M,19,222.110.0.90,2018-09-19 15:13:54,100,Direct,Credit Card
3,2018-04-28 17:08:09,F,35,104.242.92.50,2018-05-27 23:24:42,60,Direct,Debit Card
4,2018-01-09 00:26:19,F,27,175.104.225.24,2018-01-11 00:26:20,88,Ads,E-wallet

In [586]:
testx.head()

,Merchant_Registration_Date,Gender,Age,IP_Address,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method
0,2018-02-11 20:50:29,F,40,134.162.124.62,2018-03-09 09:09:42,60,SEO,Credit Card
1,2018-04-06 13:19:39,M,39,152.76.98.87,2018-06-13 20:11:19,28,SEO,Credit Card
2,2018-01-12 16:47:49,M,23,31.202.3.255,2018-04-14 04:19:36,75,Ads,Debit Card
3,2018-02-19 21:58:52,M,34,12.242.168.185,2018-04-01 13:55:44,98,SEO,Credit Card
4,2018-05-17 15:50:19,M,20,26.61.210.47,2018-05-25 02:08:18,35,SEO,Credit Card

### coverting date to month

### converting date and time columns to just year and months to check the seasonality

In [587]:
trainx['Merchant_Registration_Date'] = pd.to_datetime(trainx['Merchant_Registration_Date'])
trainx['year'], trainx['month'] = trainx['Merchant_Registration_Date'].dt.year, trainx['Merchant_Registration_Date'].dt.month
trainx

,Merchant_Registration_Date,Gender,Age,IP_Address,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,year,month
0,2018-07-01 06:43:23,F,42,157.217.17.33,2018-10-29 17:58:25,205,Direct,Credit Card,2018,7
1,2018-01-18 01:10:42,M,42,46.8.62.247,2018-03-24 20:15:57,88,Ads,Cash On Delivery,2018,1
2,2018-07-16 07:56:34,M,19,222.110.0.90,2018-09-19 15:13:54,100,Direct,Credit Card,2018,7
3,2018-04-28 17:08:09,F,35,104.242.92.50,2018-05-27 23:24:42,60,Direct,Debit Card,2018,4
4,2018-01-09 00:26:19,F,27,175.104.225.24,2018-01-11 00:26:20,88,Ads,E-wallet,2018,1
5,2018-05-11 10:18:14,M,22,240.189.232.24,2018-07-20 08:26:31,140,Ads,Internet Banking,2018,5
6,2018-04-11 11:43:44,F,37,15.198.108.177,2018-04-13 15:07:26,128,Ads,Internet Banking,2018,4
7,2018-06-05 05:11:47,F,37,199.101.149.67,2018-08-19 06:53:03,78,Direct,E-wallet,2018,6
8,2018-01-10 06:31:07,M,25,145.92.34.64,2018-01-12 06:31:08,40,SEO,Credit Card,2018,1
9,2018-07-04 18:04:13,M,34,140.42.39.15,2018-09-06 07:20:34,105,Ads,E-wallet,2018,7
10,2018-02-03 06:40:13,F,41,158.233.254.37,2018-05-05 23:23:52,50,Ads,Internet Banking,2018,2
11,2018-08-09 11:30:18,F,49,163.228.221.85,2018-10-05 22:01:21,148,Ads,Credit Card,2018,8
12,2018-05-24 04:35:04,F,38,231.123.246.88,2018-07-29 07:30:59,30,SEO,Debit Card,2018,5
13,2018-07-11 06:32:19,M,27,227.76.100.222,2018-10-07 06:42:29,118,SEO,Debit Card,2018,7
14,2018-01-09 07:46:08,M,21,29.103.158.123,2018-01-11 07:46:09,40,SEO,Internet Banking,2018,1
15,2018-03-19 23:49:22,M,18,188.203.211.240,2018-03-25 19:48:28,128,SEO,Credit Card,2018,3
16,2018-05-05 17:31:31,M,19,188.68.39.153,2018-05-28 18:25:31,92,Ads,Debit Card,2018,5
17,2018-01-31 15:42:03,M,23,51.106.50.58,2018-04-30 18:28:59,112,Ads,Cash On Delivery,2018,1
18,2018-05-14 05:23:32,M,21,190.113.145.215,2018-07-20 02:57:15,102,Direct,Credit Card,2018,5
19,2018-03-07 21:02:52,M,30,100.163.185.192,2018-06-23 00:14:10,38,Ads,Debit Card,2018,3
20,2018-02-18 08:53:57,F,23,20.186.223.230,2018-03-21 07:16:38,52,SEO,Credit Card,2018,2
21,2018-05-25 16:45:38,M,21,73.0.79.133,2018-08-17 07:33:56,75,Ads,Credit Card,2018,5
22,2018-05-23 14:47:00,M,36,73.34.12.241,2018-07-25 02:23:52,32,SEO,Debit Card,2018,5
23,2018-07-07 16:09:18,F,22,66.116.217.117,2018-08-10 20:08:56,112,SEO,Internet Banking,2018,7
24,2018-08-03 23:40:56,F,32,155.165.154.7,2018-10-09 03:19:49,45,Direct,Credit Card,2018,8
25,2018-04-01 22:26:48,M,18,13.249.41.246,2018-06-06 00:19:55,125,Ads,Credit Card,2018,4
26,2018-08-11 00:42:04,M,29,181.193.47.232,2018-09-13 02:41:49,72,SEO,Credit Card,2018,8
27,2018-01-20 00:08:41,F,37,82.135.113.87,2018-03-18 01:29:57,98,Direct,Credit Card,2018,1
28,2018-03-24 10:27:26,M,34,36.19.108.53,2018-05-01 23:57:43,32,Direct,E-wallet,2018,3
29,2018-01-05 17:57:48,M,42,166.75.187.238,2018-02-24 10:08:02,55,Direct,Internet Banking,2018,1
...,...,...,...,...,...,...,...,...,...,...
54183,2018-07-31 13:57:02,M,39,83.171.180.136,2018-10-30 02:27:19,48,SEO,Internet Banking,2018,7
54184,2018-06-22 01:40:25,F,41,181.79.228.48,2018-09-13 05:16:28,62,Direct,Internet Banking,2018,6
54185,2018-03-19 22:29:36,F,18,170.140.56.172,2018-05-24 07:50:41,30,SEO,Credit Card,2018,3
54186,2018-07-28 08:01:47,F,36,24.4.14.52,2018-09-02 15:26:33,88,Direct,Credit Card,2018,7
54187,2018-08-06 21:28:35,F,21,99.188.160.20,2018-11-12 06:44:59,115,SEO,Credit Card,2018,8
54188,2018-03-28 22:37:42,M,28,132.47.144.75,2018-04-26 16:24:08,138,Ads,Cash On Delivery,2018,3
54189,2018-04-15 21:27:40,F,25,172.112.96.47,2018-08-12 09:08:34,22,Direct,E-wallet,2018,4
54190,2018-07-15 17:07:24,M,29,199.91.212.159,2018-10-16 02:58:35,160,Direct,Internet Banking,2018,7
54191,2018-08-14 12:04:03,M,33,15.96.159.131,2018-08-26 19:50:57,102,SEO,Credit Card,2018,8
54192,2018-03-09 00:27:54,F,40,68.87.232.103,2018-03-15 05:23:54,152,SEO,Credit Card,2018,3
54193,2018-02-05 19:42:14,F,33,63.100.16.133,2018-02-11 15:21:38,58,Ads,Credit Card,2018,2
54194,2018-06-08 11:13:27,F,22,139.97.125.130,2018-06-17 04:00:45,55,Direct,Internet Banking,2018,6
54195,2018-03-05 09:19:50,M,21,207.33.16.86,2018-03-25 05:36:32,50,Ads,Internet Banking,2018,3
54196,2018-04-20 04:18:55,F,28,42.85.55.226,2018-04-30 12:26:34,122,Ads,Debit Card,2018,4
54197,2018-01-15 20:21:49,M,20,180.92.115.29,2018-03-19 19:09:29,155,Direct,Credit Card,2018,1
54198,2018-08-15 07:51:22,M,38,60.171.100.50,2018-08-18 17:36:31,38,SEO,E-wallet,2018,8
54199,2018-04-22 13:56:01,F,26,63.180.2.3,2018-07-15 15:45:23,122,Ads,Internet Banking,2018,4
54200,2018-03-29 16:37:59,F,36,5.165.0.87,2018-07-27 22:11:53,35,Ads,Debit Card,2018,3
54201,2018-02-21 22:09:41,M,39,195.139.115.181,2018-03-03 15:23:08,105,Ads,Credit Card,2018,2
54202,2018-02-05 05:30:37,F,33,23.19.191.246,2018-03-03 03:08:53,155,SEO,Internet Banking,2018,2
54203,2018-03-20 21:30:05,M,39,160.235.230.72,2018-07-19 17:12:26,128,Ads,Credit Card,2018,3
54204,2018-08-05 03:48:19,M,38,9.118.137.58,2018-10-13 11:52:21,202,Direct,Credit Card,2018,8
54205,2018-08-01 21:53:33,M,36,155.21.73.167,2018-08-13 14:03:49,68,SEO,Internet Banking,2018,8
54206,2018-01-15 07:01:51,M,29,221.63.13.34,2018-03-13 02:25:35,138,SEO,Credit Card,2018,1
54207,2018-02-12 14:41:51,M,41,83.211.102.78,2018-03-19 15:36:16,132,SEO,Credit Card,2018,2
54208,2018-07-22 14:39:10,M,22,221.89.30.218,2018-08-27 07:27:23,98,Ads,Internet Banking,2018,7
54209,2018-02-20 10:55:56,M,33,32.158.181.72,2018-04-21 09:30:29,60,SEO,Credit Card,2018,2
54210,2018-04-12 15:14:21,M,29,237.66.206.59,2018-07-16 05:57:39,90,SEO,Internet Banking,2018,4
54211,2018-06-02 19:21:25,M,28,121.74.41.104,2018-06-14 13:03:08,120,Ads,Debit Card,2018,6
54212,2018-03-17 06:22:44,M,41,214.42.147.237,2018-07-01 22:35:11,100,Ads,Credit Card,2018,3

In [588]:
trainx.columns

Index(['Merchant_Registration_Date', 'Gender', 'Age', 'IP_Address',
       'Date_of_Order', 'Order_Value_USD', 'Order_Source',
       'Order_Payment_Method', 'year', 'month'],
      dtype='object')

In [589]:
testx['Merchant_Registration_Date'] = pd.to_datetime(testx['Merchant_Registration_Date'])
testx['year'], testx['month'] = testx['Merchant_Registration_Date'].dt.year, testx['Merchant_Registration_Date'].dt.month
testx

,Merchant_Registration_Date,Gender,Age,IP_Address,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,year,month
0,2018-02-11 20:50:29,F,40,134.162.124.62,2018-03-09 09:09:42,60,SEO,Credit Card,2018,2
1,2018-04-06 13:19:39,M,39,152.76.98.87,2018-06-13 20:11:19,28,SEO,Credit Card,2018,4
2,2018-01-12 16:47:49,M,23,31.202.3.255,2018-04-14 04:19:36,75,Ads,Debit Card,2018,1
3,2018-02-19 21:58:52,M,34,12.242.168.185,2018-04-01 13:55:44,98,SEO,Credit Card,2018,2
4,2018-05-17 15:50:19,M,20,26.61.210.47,2018-05-25 02:08:18,35,SEO,Credit Card,2018,5
5,2018-01-14 22:38:00,F,53,67.233.208.80,2018-03-12 17:49:02,45,Direct,E-wallet,2018,1
6,2018-01-12 01:04:37,M,28,88.120.173.167,2018-01-14 01:04:38,125,Ads,Internet Banking,2018,1
7,2018-05-19 08:50:04,M,33,119.4.77.135,2018-07-10 21:31:50,65,Ads,Internet Banking,2018,5
8,2018-07-28 09:06:07,F,29,86.93.77.38,2018-08-18 02:37:37,228,SEO,Credit Card,2018,7
9,2018-03-25 19:01:48,M,50,67.83.248.123,2018-07-20 21:37:01,85,SEO,Credit Card,2018,3
10,2018-06-16 03:29:17,F,21,99.7.67.219,2018-09-03 22:53:23,115,Direct,Credit Card,2018,6
11,2018-01-31 02:07:29,M,31,106.244.7.245,2018-04-26 11:08:11,128,SEO,Credit Card,2018,1
12,2018-01-03 04:25:48,M,21,202.229.181.219,2018-01-18 11:56:46,160,SEO,Internet Banking,2018,1
13,2018-02-28 09:24:32,M,41,65.214.42.123,2018-05-19 21:04:23,150,SEO,Credit Card,2018,2
14,2018-01-06 13:54:22,M,37,70.10.126.152,2018-02-20 23:28:11,62,Ads,Internet Banking,2018,1
15,2018-04-15 21:01:35,M,25,133.171.53.140,2018-07-25 09:05:36,48,Ads,Credit Card,2018,4
16,2018-06-11 01:49:38,M,25,59.83.21.199,2018-07-30 17:26:46,68,Ads,Debit Card,2018,6
17,2018-04-25 07:31:57,M,36,188.211.85.117,2018-07-27 11:06:51,130,Ads,Internet Banking,2018,4
18,2018-01-12 15:01:36,M,32,40.92.117.57,2018-01-14 15:01:37,115,Ads,Credit Card,2018,1
19,2018-07-29 02:50:15,F,44,224.77.47.89,2018-09-21 22:34:01,52,SEO,E-wallet,2018,7
20,2018-06-06 03:49:31,M,30,240.85.94.243,2018-07-03 08:16:31,80,Ads,Credit Card,2018,6
21,2018-06-07 14:30:25,M,33,31.134.19.37,2018-09-27 22:12:08,178,SEO,E-wallet,2018,6
22,2018-07-04 04:30:52,M,30,223.216.131.83,2018-10-17 18:56:35,118,Direct,Credit Card,2018,7
23,2018-01-10 15:10:55,F,41,203.23.241.249,2018-01-12 15:10:56,158,SEO,E-wallet,2018,1
24,2018-03-14 21:56:57,M,43,78.75.27.196,2018-03-19 13:53:43,112,SEO,E-wallet,2018,3
25,2018-06-24 17:39:10,M,41,110.161.141.157,2018-07-07 05:10:18,62,Direct,Credit Card,2018,6
26,2018-02-16 19:47:05,M,47,178.232.72.223,2018-04-05 15:45:41,92,SEO,Internet Banking,2018,2
27,2018-08-06 18:15:59,M,20,48.3.181.117,2018-10-29 18:49:47,202,Ads,Internet Banking,2018,8
28,2018-03-26 13:02:38,M,22,158.188.137.127,2018-05-25 12:37:39,98,SEO,Credit Card,2018,3
29,2018-08-05 19:34:09,F,23,142.137.167.221,2018-08-11 23:16:51,105,Ads,Credit Card,2018,8
...,...,...,...,...,...,...,...,...,...,...
13524,2018-04-04 16:36:19,F,22,184.233.196.123,2018-04-19 09:42:21,125,SEO,Internet Banking,2018,4
13525,2018-02-11 08:14:39,M,33,230.200.152.10,2018-04-15 12:11:47,88,SEO,Credit Card,2018,2
13526,2018-06-20 15:12:33,F,36,202.58.172.86,2018-08-30 03:40:02,82,Direct,Debit Card,2018,6
13527,2018-06-19 23:26:06,M,34,149.252.56.244,2018-09-05 19:34:39,98,Ads,Credit Card,2018,6
13528,2018-06-19 11:28:25,F,30,84.206.236.226,2018-10-04 01:09:25,70,Direct,Credit Card,2018,6
13529,2018-07-11 23:22:36,F,24,54.195.52.19,2018-11-05 12:22:05,35,Ads,Credit Card,2018,7
13530,2018-08-05 18:09:51,M,48,249.66.139.243,2018-08-28 10:10:55,62,SEO,Internet Banking,2018,8
13531,2018-02-03 23:27:51,M,28,84.219.104.139,2018-05-10 03:38:27,180,Ads,Internet Banking,2018,2
13532,2018-01-07 02:35:35,M,38,95.253.158.27,2018-01-09 02:35:36,80,Direct,E-wallet,2018,1
13533,2018-03-27 20:08:47,M,23,170.36.173.229,2018-07-18 17:53:43,115,SEO,Credit Card,2018,3
13534,2018-07-06 23:07:59,F,23,48.181.28.121,2018-09-30 16:18:08,58,SEO,Credit Card,2018,7
13535,2018-08-07 07:44:38,F,25,236.216.235.23,2018-09-19 23:20:29,68,Ads,Credit Card,2018,8
13536,2018-02-16 22:57:50,M,36,145.17.112.128,2018-03-31 21:09:18,95,SEO,Credit Card,2018,2
13537,2018-01-10 20:58:58,M,43,247.176.101.158,2018-01-12 20:58:59,160,Direct,Credit Card,2018,1
13538,2018-06-08 14:32:28,M,35,28.164.6.168,2018-09-25 18:55:31,158,Ads,Credit Card,2018,6
13539,2018-03-16 08:25:12,M,20,151.132.88.232,2018-06-23 07:28:16,28,Ads,Credit Card,2018,3
13540,2018-07-27 01:22:15,M,30,28.196.71.251,2018-10-30 05:57:08,78,Direct,Internet Banking,2018,7
13541,2018-03-14 05:52:38,F,29,15.117.174.43,2018-06-20 13:39:39,82,SEO,Credit Card,2018,3
13542,2018-04-12 17:44:02,M,34,233.8.67.51,2018-07-08 00:41:38,40,SEO,Internet Banking,2018,4
13543,2018-02-01 18:17:15,F,39,106.84.99.185,2018-02-06 02:12:24,28,Ads,Credit Card,2018,2
13544,2018-01-05 16:26:44,M,19,132.212.111.97,2018-01-07 16:26:45,105,Direct,Cash On Delivery,2018,1
13545,2018-02-24 14:09:26,M,23,19.68.105.115,2018-03-15 19:03:28,70,Ads,Internet Banking,2018,2
13546,2018-07-18 07:00:59,M,30,226.21.4.232,2018-10-10 12:01:29,25,Direct,Credit Card,2018,7
13547,2018-03-18 12:27:50,F,28,28.147.74.100,2018-06-25 05:36:37,175,Ads,Internet Banking,2018,3
13548,2018-04-06 23:26:18,M,40,181.87.230.212,2018-04-11 03:37:01,128,SEO,Internet Banking,2018,4
13549,2018-04-21 03:10:18,M,20,164.83.157.213,2018-06-25 23:00:41,92,SEO,Credit Card,2018,4
13550,2018-06-10 11:16:31,F,30,40.46.42.142,2018-07-14 19:20:44,128,SEO,Internet Banking,2018,6
13551,2018-02-27 00:55:48,F,44,210.44.212.84,2018-03-05 12:08:52,98,Direct,E-wallet,2018,2
13552,2018-05-20 12:17:43,F,39,46.244.39.59,2018-05-22 18:30:43,68,SEO,Debit Card,2018,5
13553,2018-03-01 16:02:01,M,41,205.156.234.14,2018-06-06 09:19:01,100,Ads,Debit Card,2018,3

In [590]:
trainx['Date_of_Order'] = pd.to_datetime(trainx['Date_of_Order'])
trainx['order_year'], trainx['order_month'] = trainx['Date_of_Order'].dt.year, trainx['Date_of_Order'].dt.month
trainx

,Merchant_Registration_Date,Gender,Age,IP_Address,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,year,month,order_year,order_month
0,2018-07-01 06:43:23,F,42,157.217.17.33,2018-10-29 17:58:25,205,Direct,Credit Card,2018,7,2018,10
1,2018-01-18 01:10:42,M,42,46.8.62.247,2018-03-24 20:15:57,88,Ads,Cash On Delivery,2018,1,2018,3
2,2018-07-16 07:56:34,M,19,222.110.0.90,2018-09-19 15:13:54,100,Direct,Credit Card,2018,7,2018,9
3,2018-04-28 17:08:09,F,35,104.242.92.50,2018-05-27 23:24:42,60,Direct,Debit Card,2018,4,2018,5
4,2018-01-09 00:26:19,F,27,175.104.225.24,2018-01-11 00:26:20,88,Ads,E-wallet,2018,1,2018,1
5,2018-05-11 10:18:14,M,22,240.189.232.24,2018-07-20 08:26:31,140,Ads,Internet Banking,2018,5,2018,7
6,2018-04-11 11:43:44,F,37,15.198.108.177,2018-04-13 15:07:26,128,Ads,Internet Banking,2018,4,2018,4
7,2018-06-05 05:11:47,F,37,199.101.149.67,2018-08-19 06:53:03,78,Direct,E-wallet,2018,6,2018,8
8,2018-01-10 06:31:07,M,25,145.92.34.64,2018-01-12 06:31:08,40,SEO,Credit Card,2018,1,2018,1
9,2018-07-04 18:04:13,M,34,140.42.39.15,2018-09-06 07:20:34,105,Ads,E-wallet,2018,7,2018,9
10,2018-02-03 06:40:13,F,41,158.233.254.37,2018-05-05 23:23:52,50,Ads,Internet Banking,2018,2,2018,5
11,2018-08-09 11:30:18,F,49,163.228.221.85,2018-10-05 22:01:21,148,Ads,Credit Card,2018,8,2018,10
12,2018-05-24 04:35:04,F,38,231.123.246.88,2018-07-29 07:30:59,30,SEO,Debit Card,2018,5,2018,7
13,2018-07-11 06:32:19,M,27,227.76.100.222,2018-10-07 06:42:29,118,SEO,Debit Card,2018,7,2018,10
14,2018-01-09 07:46:08,M,21,29.103.158.123,2018-01-11 07:46:09,40,SEO,Internet Banking,2018,1,2018,1
15,2018-03-19 23:49:22,M,18,188.203.211.240,2018-03-25 19:48:28,128,SEO,Credit Card,2018,3,2018,3
16,2018-05-05 17:31:31,M,19,188.68.39.153,2018-05-28 18:25:31,92,Ads,Debit Card,2018,5,2018,5
17,2018-01-31 15:42:03,M,23,51.106.50.58,2018-04-30 18:28:59,112,Ads,Cash On Delivery,2018,1,2018,4
18,2018-05-14 05:23:32,M,21,190.113.145.215,2018-07-20 02:57:15,102,Direct,Credit Card,2018,5,2018,7
19,2018-03-07 21:02:52,M,30,100.163.185.192,2018-06-23 00:14:10,38,Ads,Debit Card,2018,3,2018,6
20,2018-02-18 08:53:57,F,23,20.186.223.230,2018-03-21 07:16:38,52,SEO,Credit Card,2018,2,2018,3
21,2018-05-25 16:45:38,M,21,73.0.79.133,2018-08-17 07:33:56,75,Ads,Credit Card,2018,5,2018,8
22,2018-05-23 14:47:00,M,36,73.34.12.241,2018-07-25 02:23:52,32,SEO,Debit Card,2018,5,2018,7
23,2018-07-07 16:09:18,F,22,66.116.217.117,2018-08-10 20:08:56,112,SEO,Internet Banking,2018,7,2018,8
24,2018-08-03 23:40:56,F,32,155.165.154.7,2018-10-09 03:19:49,45,Direct,Credit Card,2018,8,2018,10
25,2018-04-01 22:26:48,M,18,13.249.41.246,2018-06-06 00:19:55,125,Ads,Credit Card,2018,4,2018,6
26,2018-08-11 00:42:04,M,29,181.193.47.232,2018-09-13 02:41:49,72,SEO,Credit Card,2018,8,2018,9
27,2018-01-20 00:08:41,F,37,82.135.113.87,2018-03-18 01:29:57,98,Direct,Credit Card,2018,1,2018,3
28,2018-03-24 10:27:26,M,34,36.19.108.53,2018-05-01 23:57:43,32,Direct,E-wallet,2018,3,2018,5
29,2018-01-05 17:57:48,M,42,166.75.187.238,2018-02-24 10:08:02,55,Direct,Internet Banking,2018,1,2018,2
...,...,...,...,...,...,...,...,...,...,...,...,...
54183,2018-07-31 13:57:02,M,39,83.171.180.136,2018-10-30 02:27:19,48,SEO,Internet Banking,2018,7,2018,10
54184,2018-06-22 01:40:25,F,41,181.79.228.48,2018-09-13 05:16:28,62,Direct,Internet Banking,2018,6,2018,9
54185,2018-03-19 22:29:36,F,18,170.140.56.172,2018-05-24 07:50:41,30,SEO,Credit Card,2018,3,2018,5
54186,2018-07-28 08:01:47,F,36,24.4.14.52,2018-09-02 15:26:33,88,Direct,Credit Card,2018,7,2018,9
54187,2018-08-06 21:28:35,F,21,99.188.160.20,2018-11-12 06:44:59,115,SEO,Credit Card,2018,8,2018,11
54188,2018-03-28 22:37:42,M,28,132.47.144.75,2018-04-26 16:24:08,138,Ads,Cash On Delivery,2018,3,2018,4
54189,2018-04-15 21:27:40,F,25,172.112.96.47,2018-08-12 09:08:34,22,Direct,E-wallet,2018,4,2018,8
54190,2018-07-15 17:07:24,M,29,199.91.212.159,2018-10-16 02:58:35,160,Direct,Internet Banking,2018,7,2018,10
54191,2018-08-14 12:04:03,M,33,15.96.159.131,2018-08-26 19:50:57,102,SEO,Credit Card,2018,8,2018,8
54192,2018-03-09 00:27:54,F,40,68.87.232.103,2018-03-15 05:23:54,152,SEO,Credit Card,2018,3,2018,3
54193,2018-02-05 19:42:14,F,33,63.100.16.133,2018-02-11 15:21:38,58,Ads,Credit Card,2018,2,2018,2
54194,2018-06-08 11:13:27,F,22,139.97.125.130,2018-06-17 04:00:45,55,Direct,Internet Banking,2018,6,2018,6
54195,2018-03-05 09:19:50,M,21,207.33.16.86,2018-03-25 05:36:32,50,Ads,Internet Banking,2018,3,2018,3
54196,2018-04-20 04:18:55,F,28,42.85.55.226,2018-04-30 12:26:34,122,Ads,Debit Card,2018,4,2018,4
54197,2018-01-15 20:21:49,M,20,180.92.115.29,2018-03-19 19:09:29,155,Direct,Credit Card,2018,1,2018,3
54198,2018-08-15 07:51:22,M,38,60.171.100.50,2018-08-18 17:36:31,38,SEO,E-wallet,2018,8,2018,8
54199,2018-04-22 13:56:01,F,26,63.180.2.3,2018-07-15 15:45:23,122,Ads,Internet Banking,2018,4,2018,7
54200,2018-03-29 16:37:59,F,36,5.165.0.87,2018-07-27 22:11:53,35,Ads,Debit Card,2018,3,2018,7
54201,2018-02-21 22:09:41,M,39,195.139.115.181,2018-03-03 15:23:08,105,Ads,Credit Card,2018,2,2018,3
54202,2018-02-05 05:30:37,F,33,23.19.191.246,2018-03-03 03:08:53,155,SEO,Internet Banking,2018,2,2018,3
54203,2018-03-20 21:30:05,M,39,160.235.230.72,2018-07-19 17:12:26,128,Ads,Credit Card,2018,3,2018,7
54204,2018-08-05 03:48:19,M,38,9.118.137.58,2018-10-13 11:52:21,202,Direct,Credit Card,2018,8,2018,10
54205,2018-08-01 21:53:33,M,36,155.21.73.167,2018-08-13 14:03:49,68,SEO,Internet Banking,2018,8,2018,8
54206,2018-01-15 07:01:51,M,29,221.63.13.34,2018-03-13 02:25:35,138,SEO,Credit Card,2018,1,2018,3
54207,2018-02-12 14:41:51,M,41,83.211.102.78,2018-03-19 15:36:16,132,SEO,Credit Card,2018,2,2018,3
54208,2018-07-22 14:39:10,M,22,221.89.30.218,2018-08-27 07:27:23,98,Ads,Internet Banking,2018,7,2018,8
54209,2018-02-20 10:55:56,M,33,32.158.181.72,2018-04-21 09:30:29,60,SEO,Credit Card,2018,2,2018,4
54210,2018-04-12 15:14:21,M,29,237.66.206.59,2018-07-16 05:57:39,90,SEO,Internet Banking,2018,4,2018,7
54211,2018-06-02 19:21:25,M,28,121.74.41.104,2018-06-14 13:03:08,120,Ads,Debit Card,2018,6,2018,6
54212,2018-03-17 06:22:44,M,41,214.42.147.237,2018-07-01 22:35:11,100,Ads,Credit Card,2018,3,2018,7

In [591]:
testx['Date_of_Order'] = pd.to_datetime(testx['Date_of_Order'])
testx['order_year'], testx['order_month'] = testx['Date_of_Order'].dt.year, testx['Date_of_Order'].dt.month
testx

,Merchant_Registration_Date,Gender,Age,IP_Address,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,year,month,order_year,order_month
0,2018-02-11 20:50:29,F,40,134.162.124.62,2018-03-09 09:09:42,60,SEO,Credit Card,2018,2,2018,3
1,2018-04-06 13:19:39,M,39,152.76.98.87,2018-06-13 20:11:19,28,SEO,Credit Card,2018,4,2018,6
2,2018-01-12 16:47:49,M,23,31.202.3.255,2018-04-14 04:19:36,75,Ads,Debit Card,2018,1,2018,4
3,2018-02-19 21:58:52,M,34,12.242.168.185,2018-04-01 13:55:44,98,SEO,Credit Card,2018,2,2018,4
4,2018-05-17 15:50:19,M,20,26.61.210.47,2018-05-25 02:08:18,35,SEO,Credit Card,2018,5,2018,5
5,2018-01-14 22:38:00,F,53,67.233.208.80,2018-03-12 17:49:02,45,Direct,E-wallet,2018,1,2018,3
6,2018-01-12 01:04:37,M,28,88.120.173.167,2018-01-14 01:04:38,125,Ads,Internet Banking,2018,1,2018,1
7,2018-05-19 08:50:04,M,33,119.4.77.135,2018-07-10 21:31:50,65,Ads,Internet Banking,2018,5,2018,7
8,2018-07-28 09:06:07,F,29,86.93.77.38,2018-08-18 02:37:37,228,SEO,Credit Card,2018,7,2018,8
9,2018-03-25 19:01:48,M,50,67.83.248.123,2018-07-20 21:37:01,85,SEO,Credit Card,2018,3,2018,7
10,2018-06-16 03:29:17,F,21,99.7.67.219,2018-09-03 22:53:23,115,Direct,Credit Card,2018,6,2018,9
11,2018-01-31 02:07:29,M,31,106.244.7.245,2018-04-26 11:08:11,128,SEO,Credit Card,2018,1,2018,4
12,2018-01-03 04:25:48,M,21,202.229.181.219,2018-01-18 11:56:46,160,SEO,Internet Banking,2018,1,2018,1
13,2018-02-28 09:24:32,M,41,65.214.42.123,2018-05-19 21:04:23,150,SEO,Credit Card,2018,2,2018,5
14,2018-01-06 13:54:22,M,37,70.10.126.152,2018-02-20 23:28:11,62,Ads,Internet Banking,2018,1,2018,2
15,2018-04-15 21:01:35,M,25,133.171.53.140,2018-07-25 09:05:36,48,Ads,Credit Card,2018,4,2018,7
16,2018-06-11 01:49:38,M,25,59.83.21.199,2018-07-30 17:26:46,68,Ads,Debit Card,2018,6,2018,7
17,2018-04-25 07:31:57,M,36,188.211.85.117,2018-07-27 11:06:51,130,Ads,Internet Banking,2018,4,2018,7
18,2018-01-12 15:01:36,M,32,40.92.117.57,2018-01-14 15:01:37,115,Ads,Credit Card,2018,1,2018,1
19,2018-07-29 02:50:15,F,44,224.77.47.89,2018-09-21 22:34:01,52,SEO,E-wallet,2018,7,2018,9
20,2018-06-06 03:49:31,M,30,240.85.94.243,2018-07-03 08:16:31,80,Ads,Credit Card,2018,6,2018,7
21,2018-06-07 14:30:25,M,33,31.134.19.37,2018-09-27 22:12:08,178,SEO,E-wallet,2018,6,2018,9
22,2018-07-04 04:30:52,M,30,223.216.131.83,2018-10-17 18:56:35,118,Direct,Credit Card,2018,7,2018,10
23,2018-01-10 15:10:55,F,41,203.23.241.249,2018-01-12 15:10:56,158,SEO,E-wallet,2018,1,2018,1
24,2018-03-14 21:56:57,M,43,78.75.27.196,2018-03-19 13:53:43,112,SEO,E-wallet,2018,3,2018,3
25,2018-06-24 17:39:10,M,41,110.161.141.157,2018-07-07 05:10:18,62,Direct,Credit Card,2018,6,2018,7
26,2018-02-16 19:47:05,M,47,178.232.72.223,2018-04-05 15:45:41,92,SEO,Internet Banking,2018,2,2018,4
27,2018-08-06 18:15:59,M,20,48.3.181.117,2018-10-29 18:49:47,202,Ads,Internet Banking,2018,8,2018,10
28,2018-03-26 13:02:38,M,22,158.188.137.127,2018-05-25 12:37:39,98,SEO,Credit Card,2018,3,2018,5
29,2018-08-05 19:34:09,F,23,142.137.167.221,2018-08-11 23:16:51,105,Ads,Credit Card,2018,8,2018,8
...,...,...,...,...,...,...,...,...,...,...,...,...
13524,2018-04-04 16:36:19,F,22,184.233.196.123,2018-04-19 09:42:21,125,SEO,Internet Banking,2018,4,2018,4
13525,2018-02-11 08:14:39,M,33,230.200.152.10,2018-04-15 12:11:47,88,SEO,Credit Card,2018,2,2018,4
13526,2018-06-20 15:12:33,F,36,202.58.172.86,2018-08-30 03:40:02,82,Direct,Debit Card,2018,6,2018,8
13527,2018-06-19 23:26:06,M,34,149.252.56.244,2018-09-05 19:34:39,98,Ads,Credit Card,2018,6,2018,9
13528,2018-06-19 11:28:25,F,30,84.206.236.226,2018-10-04 01:09:25,70,Direct,Credit Card,2018,6,2018,10
13529,2018-07-11 23:22:36,F,24,54.195.52.19,2018-11-05 12:22:05,35,Ads,Credit Card,2018,7,2018,11
13530,2018-08-05 18:09:51,M,48,249.66.139.243,2018-08-28 10:10:55,62,SEO,Internet Banking,2018,8,2018,8
13531,2018-02-03 23:27:51,M,28,84.219.104.139,2018-05-10 03:38:27,180,Ads,Internet Banking,2018,2,2018,5
13532,2018-01-07 02:35:35,M,38,95.253.158.27,2018-01-09 02:35:36,80,Direct,E-wallet,2018,1,2018,1
13533,2018-03-27 20:08:47,M,23,170.36.173.229,2018-07-18 17:53:43,115,SEO,Credit Card,2018,3,2018,7
13534,2018-07-06 23:07:59,F,23,48.181.28.121,2018-09-30 16:18:08,58,SEO,Credit Card,2018,7,2018,9
13535,2018-08-07 07:44:38,F,25,236.216.235.23,2018-09-19 23:20:29,68,Ads,Credit Card,2018,8,2018,9
13536,2018-02-16 22:57:50,M,36,145.17.112.128,2018-03-31 21:09:18,95,SEO,Credit Card,2018,2,2018,3
13537,2018-01-10 20:58:58,M,43,247.176.101.158,2018-01-12 20:58:59,160,Direct,Credit Card,2018,1,2018,1
13538,2018-06-08 14:32:28,M,35,28.164.6.168,2018-09-25 18:55:31,158,Ads,Credit Card,2018,6,2018,9
13539,2018-03-16 08:25:12,M,20,151.132.88.232,2018-06-23 07:28:16,28,Ads,Credit Card,2018,3,2018,6
13540,2018-07-27 01:22:15,M,30,28.196.71.251,2018-10-30 05:57:08,78,Direct,Internet Banking,2018,7,2018,10
13541,2018-03-14 05:52:38,F,29,15.117.174.43,2018-06-20 13:39:39,82,SEO,Credit Card,2018,3,2018,6
13542,2018-04-12 17:44:02,M,34,233.8.67.51,2018-07-08 00:41:38,40,SEO,Internet Banking,2018,4,2018,7
13543,2018-02-01 18:17:15,F,39,106.84.99.185,2018-02-06 02:12:24,28,Ads,Credit Card,2018,2,2018,2
13544,2018-01-05 16:26:44,M,19,132.212.111.97,2018-01-07 16:26:45,105,Direct,Cash On Delivery,2018,1,2018,1
13545,2018-02-24 14:09:26,M,23,19.68.105.115,2018-03-15 19:03:28,70,Ads,Internet Banking,2018,2,2018,3
13546,2018-07-18 07:00:59,M,30,226.21.4.232,2018-10-10 12:01:29,25,Direct,Credit Card,2018,7,2018,10
13547,2018-03-18 12:27:50,F,28,28.147.74.100,2018-06-25 05:36:37,175,Ads,Internet Banking,2018,3,2018,6
13548,2018-04-06 23:26:18,M,40,181.87.230.212,2018-04-11 03:37:01,128,SEO,Internet Banking,2018,4,2018,4
13549,2018-04-21 03:10:18,M,20,164.83.157.213,2018-06-25 23:00:41,92,SEO,Credit Card,2018,4,2018,6
13550,2018-06-10 11:16:31,F,30,40.46.42.142,2018-07-14 19:20:44,128,SEO,Internet Banking,2018,6,2018,7
13551,2018-02-27 00:55:48,F,44,210.44.212.84,2018-03-05 12:08:52,98,Direct,E-wallet,2018,2,2018,3
13552,2018-05-20 12:17:43,F,39,46.244.39.59,2018-05-22 18:30:43,68,SEO,Debit Card,2018,5,2018,5
13553,2018-03-01 16:02:01,M,41,205.156.234.14,2018-06-06 09:19:01,100,Ads,Debit Card,2018,3,2018,6

In [592]:
trainx.head()

,Merchant_Registration_Date,Gender,Age,IP_Address,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method,year,month,order_year,order_month
0,2018-07-01 06:43:23,F,42,157.217.17.33,2018-10-29 17:58:25,205,Direct,Credit Card,2018,7,2018,10
1,2018-01-18 01:10:42,M,42,46.8.62.247,2018-03-24 20:15:57,88,Ads,Cash On Delivery,2018,1,2018,3
2,2018-07-16 07:56:34,M,19,222.110.0.90,2018-09-19 15:13:54,100,Direct,Credit Card,2018,7,2018,9
3,2018-04-28 17:08:09,F,35,104.242.92.50,2018-05-27 23:24:42,60,Direct,Debit Card,2018,4,2018,5
4,2018-01-09 00:26:19,F,27,175.104.225.24,2018-01-11 00:26:20,88,Ads,E-wallet,2018,1,2018,1

In [593]:
trainx.shape

(54213, 12)

In [594]:
testx.shape

(13554, 12)

In [595]:
trainx=trainx.drop(["Merchant_Registration_Date"],axis=1)
testx=testx.drop(["Merchant_Registration_Date"],axis=1)
trainx=trainx.drop(["Date_of_Order"],axis=1)
testx=testx.drop(["Date_of_Order"],axis=1)

In [596]:
trainx.head()

,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,year,month,order_year,order_month
0,F,42,157.217.17.33,205,Direct,Credit Card,2018,7,2018,10
1,M,42,46.8.62.247,88,Ads,Cash On Delivery,2018,1,2018,3
2,M,19,222.110.0.90,100,Direct,Credit Card,2018,7,2018,9
3,F,35,104.242.92.50,60,Direct,Debit Card,2018,4,2018,5
4,F,27,175.104.225.24,88,Ads,E-wallet,2018,1,2018,1

In [597]:
trainx["year"].value_counts()

2018    54213
Name: year, dtype: int64

In [598]:
trainx["order_year"].value_counts()

2018    54213
Name: order_year, dtype: int64

In [599]:
trainx=trainx.drop(["year"],axis=1)
testx=testx.drop(["year"],axis=1)

In [600]:
trainx=trainx.drop(["order_year"],axis=1)
testx=testx.drop(["order_year"],axis=1)

In [601]:
trainx.head()

,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,month,order_month
0,F,42,157.217.17.33,205,Direct,Credit Card,7,10
1,M,42,46.8.62.247,88,Ads,Cash On Delivery,1,3
2,M,19,222.110.0.90,100,Direct,Credit Card,7,9
3,F,35,104.242.92.50,60,Direct,Debit Card,4,5
4,F,27,175.104.225.24,88,Ads,E-wallet,1,1

In [504]:
trainx["Order_Value_USD"].value_counts()

65     1167
58     1152
88     1151
80     1145
70     1140
60     1133
68     1114
72     1111
85     1109
55     1108
95     1101
45     1096
75     1090
50     1076
98     1074
82     1066
78     1065
48     1063
62     1061
38     1048
92     1026
90     1026
42     1006
52     1000
105     999
100     983
102     980
40      970
35      958
108     917
       ...
238      21
255      19
245      19
242      18
240      17
250      14
248      14
252      12
262       8
270       8
268       7
258       6
265       4
272       3
260       3
275       3
282       3
278       2
288       2
290       2
295       2
292       1
385       1
308       1
298       1
320       1
322       1
305       1
285       1
300       1
Name: Order_Value_USD, Length: 116, dtype: int64

# binning numerical variables

In [602]:
trainx["Order_Value_USD"]=pd.cut(bins=[0,50,100,150,300],x=trainx["Order_Value_USD"],labels=["cheap","reasonable","costly","verycostly"],include_lowest=True)

In [603]:
testx["Order_Value_USD"]=pd.cut(bins=[0,50,100,150,300],x=testx["Order_Value_USD"],labels=["cheap","reasonable","costly","verycostly"],include_lowest=True)

In [604]:
trainx["Age"].describe()

count    54213.000000
mean        33.122240
std          8.630091
min         18.000000
25%         27.000000
50%         32.000000
75%         39.000000
max         72.000000
Name: Age, dtype: float64

In [605]:
trainx["Age"]=pd.cut(bins=[18,28,40,60,80],x=trainx["Age"],labels=["veryyoung","young","middle","old"],include_lowest=True)

In [606]:
testx["Age"]=pd.cut(bins=[18,28,40,60,80],x=testx["Age"],labels=["veryyoung","young","middle","old"],include_lowest=True)

In [343]:
trainx=trainx.drop(["IP_Address"],axis=1)

In [344]:
testx=testx.drop(["IP_Address"],axis=1)

In [607]:
trainx.head()

,Gender,Age,IP_Address,Order_Value_USD,Order_Source,Order_Payment_Method,month,order_month
0,F,middle,157.217.17.33,verycostly,Direct,Credit Card,7,10
1,M,middle,46.8.62.247,reasonable,Ads,Cash On Delivery,1,3
2,M,veryyoung,222.110.0.90,reasonable,Direct,Credit Card,7,9
3,F,young,104.242.92.50,reasonable,Direct,Debit Card,4,5
4,F,veryyoung,175.104.225.24,reasonable,Ads,E-wallet,1,1

In [608]:
trainx.dtypes

Gender                    object
Age                     category
IP_Address                object
Order_Value_USD         category
Order_Source              object
Order_Payment_Method      object
month                      int64
order_month                int64
dtype: object

In [609]:
#changing the data types
for col in ["Gender","Order_Source","Order_Payment_Method"]:
    trainx[col]=trainx[col].astype("category")

In [610]:
for col in ["Gender","Order_Source","Order_Payment_Method"]:
    testx[col]=testx[col].astype("category")

In [611]:
trainx.dtypes

Gender                  category
Age                     category
IP_Address                object
Order_Value_USD         category
Order_Source            category
Order_Payment_Method    category
month                      int64
order_month                int64
dtype: object

In [612]:
    trainx = pd.get_dummies(trainx, columns=["Gender","Order_Source","Order_Payment_Method","Order_Value_USD","Age"])

In [613]:
    testx = pd.get_dummies(testx, columns=["Gender","Order_Source","Order_Payment_Method","Order_Value_USD","Age"])

In [614]:
trainx.dtypes

IP_Address                               object
month                                     int64
order_month                               int64
Gender_F                                  uint8
Gender_M                                  uint8
Order_Source_Ads                          uint8
Order_Source_Direct                       uint8
Order_Source_SEO                          uint8
Order_Payment_Method_Cash On Delivery     uint8
Order_Payment_Method_Credit Card          uint8
Order_Payment_Method_Debit Card           uint8
Order_Payment_Method_E-wallet             uint8
Order_Payment_Method_Internet Banking     uint8
Order_Value_USD_cheap                     uint8
Order_Value_USD_reasonable                uint8
Order_Value_USD_costly                    uint8
Order_Value_USD_verycostly                uint8
Age_veryyoung                             uint8
Age_young                                 uint8
Age_middle                                uint8
Age_old                                   uint8
dtype: object

In [361]:
X_train, X_test, y_train, y_test = train_test_split(trainx, y, test_size=0.30)

# log reg - model 2

In [362]:
from sklearn.linear_model import LogisticRegression
logmod1=LogisticRegression()
logmod1

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [356]:
logit=sm.Logit(y_train,X_train)

In [357]:
result=logit.fit()

Optimization terminated successfully.
         Current function value: 0.253294
         Iterations 28

In [358]:
#summary stats
result.summary2()

C:\Users\Dr. Jhansi Rani.SSV_BALARAM_MOH\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning:

invalid value encountered in greater

C:\Users\Dr. Jhansi Rani.SSV_BALARAM_MOH\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning:

invalid value encountered in less

C:\Users\Dr. Jhansi Rani.SSV_BALARAM_MOH\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning:

invalid value encountered in less_equal

<class 'statsmodels.iolib.summary2.Summary'>
"""
                                            Results: Logit
======================================================================================================
Model:                           Logit                        Pseudo R-squared:             0.184
Dependent Variable:              Fraudster                    AIC:                          19258.4823
Date:                            2019-07-06 15:36             BIC:                          19403.7303
No. Observations:                37949                        Log-Likelihood:               -9612.2
Df Model:                        16                           LL-Null:                      -11783.
Df Residuals:                    37932                        LLR p-value:                  0.0000
Converged:                       1.0000                       Scale:                        1.0000
No. Iterations:                  28.0000
------------------------------------------------------------------------------------------------------
                                       Coef.     Std.Err.      z     P>|z|      [0.025       0.975]
------------------------------------------------------------------------------------------------------
month                                   0.3427       0.0208  16.4417 0.0000        0.3018       0.3835
order_month                            -0.7132       0.0175 -40.7585 0.0000       -0.7475      -0.6789
Gender_F                              -33.3370          nan      nan    nan           nan          nan
Gender_M                              -33.3102          nan      nan    nan           nan          nan
Order_Source_Ads                      -22.2409          nan      nan    nan           nan          nan
Order_Source_Direct                   -22.0889          nan      nan    nan           nan          nan
Order_Source_SEO                      -22.3174          nan      nan    nan           nan          nan
Order_Payment_Method_Cash On Delivery -13.4595 1053458.9062  -0.0000 1.0000 -2064754.9749 2064728.0558
Order_Payment_Method_Credit Card      -13.2144 1053458.9062  -0.0000 1.0000 -2064754.7297 2064728.3010
Order_Payment_Method_Debit Card       -13.3250 1053458.9062  -0.0000 1.0000 -2064754.8403 2064728.1904
Order_Payment_Method_E-wallet         -13.3031 1053458.9062  -0.0000 1.0000 -2064754.8185 2064728.2122
Order_Payment_Method_Internet Banking -13.3452 1053458.9062  -0.0000 1.0000 -2064754.8605 2064728.1702
Order_Value_USD_cheap                  85.6896          nan      nan    nan           nan          nan
Order_Value_USD_reasonable             85.6391          nan      nan    nan           nan          nan
Order_Value_USD_costly                 85.6949          nan      nan    nan           nan          nan
Order_Value_USD_verycostly             85.6950          nan      nan    nan           nan          nan
Age_veryyoung                         -16.8661          nan      nan    nan           nan          nan
Age_young                             -16.7528          nan      nan    nan           nan          nan
Age_middle                            -16.8162          nan      nan    nan           nan          nan
Age_old                               -16.2121          nan      nan    nan           nan          nan
======================================================================================================

"""

In [359]:
log_mod=logmod.fit(X_train,y_train)
print(log_mod.coef_)
print(log_mod.intercept_)

C:\Users\Dr. Jhansi Rani.SSV_BALARAM_MOH\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning:

Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.

[[ 0.34230205 -0.71282988  0.01295711  0.04002009 -0.00737788  0.14433241
  -0.08397733 -0.11804427  0.12529838  0.01467746  0.03652193 -0.00547629
   0.02529255 -0.02524494  0.03059612  0.03047109 -0.17801099 -0.06486579
  -0.1280792   0.42393318]]
[0.0529772]

In [363]:
logmod1 = logmod1.fit(X_train,y_train)

C:\Users\Dr. Jhansi Rani.SSV_BALARAM_MOH\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning:

Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.

In [364]:
test_pred1 = logmod1.predict(X_test)

In [365]:
confusion_matrix(y_pred=test_pred1,y_true=y_test)

array([[14676,     0],
       [ 1587,     1]], dtype=int64)

In [366]:
accuracy_score(y_test,test_pred1)

0.9024225282833251

In [367]:
actualtest_pred2 = logmod1.predict(testx)

In [368]:
test1["Fraudster"]=actualtest_pred2

In [369]:
test1.head()

   Merchant_ID  Fraudster
0        53637          0
1       243517          0
2       343640          0
3        69889          0
4       125706          0

In [370]:
test1.to_csv("model2.csv",header=True)

# submitted model-2

In [615]:
#function to cnvert ip address to  num
def ip_to_int(ip_ser):
    ips = ip_ser.str.split('.', expand=True).astype(np.int16).values
    mults = np.tile(np.array([24, 16, 8, 0]), len(ip_ser)).reshape(ips.shape)
    return np.sum(np.left_shift(ips, mults), axis=1)

In [617]:
trainx['_ip'] = ip_to_int(trainx.IP_Address)

In [620]:
ip_boundaries.isna().sum()

lower_bound_ip_address    0
upper_bound_ip_address    0
country                   0
dtype: int64

In [ ]:
df1['x'] = (df1._ip.apply(lambda x: df2.query('_ip_range_start <= @x <= _ip_range_end').index.values).apply(lambda x: x[0] if len(x) else -1))

In [621]:
function to convert ip to num
import socket, struct

def ip2long(ip):
    """
    Convert an IP string to long
    """
    packedIP = socket.inet_aton(ip)
    return struct.unpack("!L", packedIP)[0]

In [622]:
ip_boundaries["lower_bound_ip_address"] = ip_boundaries["lower_bound_ip_address"].apply(ip2long)
ip_boundaries["upper_bound_ip_address"] = ip_boundaries["upper_bound_ip_address"].apply(ip2long)

In [623]:
trainx['x'] = (trainx.IP_Address.apply(lambda x: ip_boundaries.query('lower_bound_ip_address <= @x <= upper_bound_ip_address').index.values).apply(lambda x: x[0] if len(x) else -1))

ValueError: unknown type str416

In [637]:
trainx.shape

(54213, 20)

In [638]:
testx.shape

(13554, 20)

In [635]:
trainx.head(3)

,IP_Address,month,order_month,Gender_F,Gender_M,Order_Source_Ads,Order_Source_Direct,Order_Source_SEO,Order_Payment_Method_Cash On Delivery,Order_Payment_Method_Credit Card,...,Order_Payment_Method_E-wallet,Order_Payment_Method_Internet Banking,Order_Value_USD_cheap,Order_Value_USD_reasonable,Order_Value_USD_costly,Order_Value_USD_verycostly,Age_veryyoung,Age_young,Age_middle,Age_old
0,157.217.17.33,7,10,1,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,1,0
1,46.8.62.247,1,3,0,1,1,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
2,222.110.0.90,7,9,0,1,0,1,0,0,1,...,0,0,0,1,0,0,1,0,0,0

In [636]:
trainx=trainx.drop(["IP_Address"],axis=1)
testx=testx.drop(["IP_Address"],axis=1)

In [639]:
trainx.dtypes

month                                    int64
order_month                              int64
Gender_F                                 uint8
Gender_M                                 uint8
Order_Source_Ads                         uint8
Order_Source_Direct                      uint8
Order_Source_SEO                         uint8
Order_Payment_Method_Cash On Delivery    uint8
Order_Payment_Method_Credit Card         uint8
Order_Payment_Method_Debit Card          uint8
Order_Payment_Method_E-wallet            uint8
Order_Payment_Method_Internet Banking    uint8
Order_Value_USD_cheap                    uint8
Order_Value_USD_reasonable               uint8
Order_Value_USD_costly                   uint8
Order_Value_USD_verycostly               uint8
Age_veryyoung                            uint8
Age_young                                uint8
Age_middle                               uint8
Age_old                                  uint8
dtype: object

In [640]:
X_train, X_test, y_train, y_test = train_test_split(trainx, y, test_size=0.20)

In [641]:
#scalling numerical data before building the model
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

C:\Users\Dr. Jhansi Rani.SSV_BALARAM_MOH\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning:

Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.

C:\Users\Dr. Jhansi Rani.SSV_BALARAM_MOH\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning:

Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.

C:\Users\Dr. Jhansi Rani.SSV_BALARAM_MOH\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning:

Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.

# svc

In [642]:
## Build a SVM Classifier
from sklearn.svm import SVC

## Create an SVC object and print it to see the default arguments
svc = SVC()
svc

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [643]:
svc_c10_rbf = SVC(C=10,kernel='rbf')
svc_c10_rbf

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [644]:
## Fit the model svc_c10_rbf on the train data (X_train,y_train)
svc_c10_rbf.fit(X = X_train,y = y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [645]:
## Predict on test data and store it in the variable y_pred
y_pred = svc_c10_rbf.predict(X_test)

In [646]:
## Evalutaion
from sklearn.metrics import accuracy_score,confusion_matrix

## evaluation metrics

In [647]:
accuracy_score(y_test,y_pred)

0.9435580558885918

In [648]:
confusion_matrix(y_test,y_pred)

array([[9735,  144],
       [ 468,  496]], dtype=int64)

In [649]:
## Use Grid Search for parameter tuning

from sklearn.model_selection import GridSearchCV

svc_grid = SVC()
 

param_grid = {

'C': [0.001, 0.01, 0.1, 1, 10],
'gamma': [0.001, 0.01, 0.1, 1], 
'kernel':['linear', 'poly', 'rbf', 'sigmoid']}

 
svc_cv_grid = GridSearchCV(estimator = svc_grid, param_grid = param_grid, cv = 10)

In [651]:
y_pred = svc_c10_rbf.predict(testx)

In [652]:
y_pred

array([0, 1, 0, ..., 0, 1, 1], dtype=int64)

In [654]:
test1["Fraudster"]=y_pred

In [658]:
test1.to_csv("model3.csv",header=True,index=False)

In [657]:
test1.columns

Index(['Merchant_ID', 'Fraudster'], dtype='object')

# random forest

In [659]:
#build a random forest classifiers
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()

In [660]:
rf.fit(X = X_train,y = y_train)

C:\Users\Dr. Jhansi Rani.SSV_BALARAM_MOH\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning:

The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [661]:
y_pred = rf.predict(X_test)

In [662]:
accuracy_score(y_test,y_pred)

0.9353499953887301

In [663]:
confusion_matrix(y_test,y_pred)

array([[9659,  220],
       [ 481,  483]], dtype=int64)

In [664]:
y_pred = rf.predict(testx)

In [665]:
test1["Fraudster"]=y_pred

In [666]:
test1.to_csv("model4.csv",header=True,index=False)

# tunning

In [667]:
rf_grid = RandomForestClassifier(n_jobs=-1,max_features='sqrt')

param_grid = {
    "n_estimators":[9,18],
    "max_depth":[5,10],
    "min_samples_leaf":[2,4]}
    
rf_1_grid = GridSearchCV(estimator=rf_grid,param_grid=param_grid,cv=10)

In [668]:
rf_1_grid.fit(X = X_train, y = y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [9, 18], 'max_depth': [5, 10], 'min_samples_leaf': [2, 4]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [669]:
print(rf_1_grid.best_score_,rf_1_grid.best_params_)

0.9433018215356237 {'max_depth': 10, 'min_samples_leaf': 2, 'n_estimators': 18}

In [672]:
ypred=rf_1_grid.predict(testx)

In [673]:
test1["Fraudster"]=y_pred

In [674]:
test1.to_csv("model5.csv",header=True,index=False)